# ==========================================
# DEPENDÊNCIAS E LOGS (Node.js)
# ==========================================
node_modules/
logs/
*.log
npm-debug.log*

# ==========================================
# VARIÁVEIS DE AMBIENTE (Segurança)
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# FRONTEND (Astro + Tailwind)
# ==========================================
dist/
.astro/

# ==========================================
# BACKEND E INFRA (Firebase)
# ==========================================
.firebase/
firebase-debug.log
coverage/

# ==========================================
# SISTEMA OPERACIONAL E EDITORES
# ==========================================
.DS_Store
Thumbs.db
.vscode/