<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isotopos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<br>
<div id="container">
    <form action="" method="post">
    <label for="">Usuario: </label>
    <input type="" name="" id="">
    <br>
    <label for="">Senha: </label>
    <input type="text">

    <button type="submit">Login</button>
</form>
</div>
</body>

</html>